.main {
    background-color: #ffc109; 
    height: auto; /* Change height to auto */
}
.menu-btn {
    display: none; /* Initially hide the menu button */
}

.nav {
    height: auto; /* Change height to auto */
    display: flex;
    justify-content: space-between; /* Adjust space between logo and menu button */
    align-items: center;
    padding: 10px 20px; /* Add padding to the nav */
}

.img {
    position: relative;
    background-size: cover;
    height: 5vw;
    width: 5vw;
    background-image: url("../assets/logo.jpg");
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display flex to align navigation links horizontally */
}

.nav-item {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px 2px #000;
}

.red-btn {
    background-color: #FF6347; /* Rojo salsa */
}

.yellow-btn {
    background-color: #ffda09; /* Amarillo masa de pizza */
}

.green-btn {
    background-color: #228B22; /* Verde albahaca */
}

.nav-item:hover {
    background-color: #333; /* Cambia el color de fondo al pasar el mouse */
}
@media (max-width: 767px) {
    .menu-btn {
        display: block; /* Show the menu button for smaller screens */
        justify-content: flex-end;
        font-size: 20px;
        background: none;
        border: none;
        cursor: pointer;
    }

    #navLinks {
        align-items: flex-end;
        display: none; /* Hide the navigation links by default */
        flex-direction: column; /* Stack navigation links vertically */
        position: absolute;
        
        top: 2.7em; /* Adjust the top position based on your layout */
        left: 0;
        background-color: #ffc10988;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1; /* Ensure it overlays other content */
    }

    .nav-item {
        margin: 0.7em;
        text-align: center;
    }

    #navLinks.show {
        display: flex; /* Show the navigation links when the show class is present */
    }
}
