* {
    margin: 0;
    padding: 0;
}

.slideContainer {
    position: relative;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff9900;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    font-size: 3.5em;
}
.subtitle{
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff9900;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    font-size: 1.8em;
}